<div class="ml-5 mb-3">
  <%= form_with model:event, url: path, local: true do |f| %>
    <%= render 'layouts/errors', obj: event %>
    <table class="table table-borderless">
      <tbody>
        <%= f.hidden_field :residence_id, :value => current_member.residence.id %>
        <%= f.hidden_field :member_id, :value => current_member.id %>
        <div class="form-group">
          <tr>
            <td style="width: 20%"><%= f.label :イベント名 %></td>
            <td style="width: 70%"><%= f.text_field :name, placeholder: "イベント名", class: 'form-control ' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :概要 %></td>
            <td><%= f.text_area :description, placeholder: "イベントの概要を記述します", class: 'form-control', rows: "5" %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :開始日時 %></td>
            <td><%= f.datetime_field :started_at, min: Date.today, class: 'form-control' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :終了日時 %></td>
            <td><%= f.datetime_field :finished_at, min: Date.today, class: 'form-control' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :開催場所 %></td>
            <td><%= f.text_field :venue, placeholder: "開催場所", class: 'form-control' %></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <% if event.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>