<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>開催日時</th>
      <th>開催場所</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr class="index_tr" data-href="/public/events/<%= event.id %>">
        <td>
          <%= event.name %>
          <%
            if event.event_members.find_by(member_id: current_member.id).present? &&
            event.event_members.find_by(member_id: current_member.id).is_approved == false &&
            controller.controller_name == "events"
          %>
            <span class="text-danger small">(招待有)</span>
          <% end %>
        </td>
        <td><%= l event.started_at %> ~ <%= l event.finished_at %></td>
        <td><%= event.venue %></td>
      </tr>
    <% end %>
  </tbody>
</table>