<table class='table table-bordered'>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>作成者</th>
      <th>概要</th>
      <th>開催日時</th>
      <th>開催場所</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event.name, public_event_path(event) %></td>
        <% if event.member_id == 0 %>
          <td>管理者</td>
        <% else %>
          <td><%= event.member.name %></td>
        <% end %>
        <td><%= event.description %></td>
        <td><%= event.started_at %> ~ <%= event.finished_at %></td>
        <td><%= event.venue %></td>
      </tr>
    <% end %>
  </tbody>
</table>