<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>開催日時</th>
      <th>開催場所</th>
      <th style="width:9%">参加者</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr class="index_tr" data-href="/events/<%= event.id %>">
        <td>
          <%= event.name %>
          <%
            if event.event_members.find_by(member_id: current_member.id).present? &&
            event.event_members.find_by(member_id: current_member.id).is_approved == false &&
            controller.controller_name == "events"
          %>
            <span class="text-danger small">(招待有)</span>
          <% end %>
        </td>
        <td>
          <% if event.started_at.to_date == event.finished_at.to_date %>
            <%= l event.started_at %> ~ <%= l event.finished_at, format: :short %>
          <% else %>
            <%= l event.started_at %> ~ <%= l event.finished_at %>
          <% end %>
        </td>
        <td><%= event.venue %></td>
        <td class="text-center"><%= event.event_members.where(is_approved: true).count %>人</td>
      </tr>
    <% end %>
  </tbody>
</table>