<% if event_member.present? %>
  <% if event_member.is_approved == false %>
    <table class="table table-borderless">
      <tr>
        <td class="align-middle"><span class="text-danger font-weight-bold">このイベントへ招待されています >> </span></td>
        <td>
          <%= form_with model:EventMember, url: public_event_event_member_path(event, event_member), method: :patch, local: false do |f| %>
            <%= f.hidden_field :is_approved, :value => true %>
            <%= f.submit "参加する", class: "btn btn-info" %>
          <% end %>
        </td>
        <td>
          <%= link_to "辞退する", public_event_event_member_decline_path(event, event_member), method: :delete, remote: :true, class: "btn btn-secondary" %>
        </td>
      </tr>
    </table>
  <% else %>
    <% unless event.member == current_member %>
      <%= link_to "参加をやめる", public_event_event_member_path(event, event_member), method: :delete, remote: :true, class: "btn btn-secondary" %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with model:EventMember.new, url: public_event_event_members_participate_path(event), local: false do |f| %>
    <%= f.hidden_field :event_id, :value => event.id %>
    <%= f.hidden_field :member_id, :value => current_member.id %>
    <%= f.hidden_field :is_approved, :value => true %>
    <%= f.submit "参加する", class: "btn btn-info" %>
  <% end %>
<% end %>