<div class='container p-5 px-sm-0'>
  <div class="row ml-5 mb-3">
    <h2>イベント詳細</h2>
    <div class="ml-auto mr-3">
      <div id="join">
        <%= render 'public/events/join', event: @event, event_member: @event_member %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-1">
        <div>
          <table class='table table-borderless'>
            <tr><th>作成者名</th><td><%= check_member_created(@event) %></td></tr>
            <tr><th style="width: 20%">イベント名</th><td><%= @event.name %></td></tr>
            <tr><th>説明</th><td><%= @event.description %></td></tr>
            <tr>
              <th>開催期間</th>
              <td>
                <% if @event.started_at.to_date == @event.finished_at.to_date %>
                  <%= l @event.started_at %> ~ <%= l @event.finished_at, format: :short %>
                <% else %>
                  <%= l @event.started_at %> ~ <%= l @event.finished_at %>
                <% end %>
              </td>
            </tr>
            <tr><th>開催場所</th><td><%= @event.venue %></td></tr>
          </table>
          <% if @event.member == current_member %>
            <div class="row">
              <div class="mx-auto">
                <%= link_to "編集する", edit_event_path, class: "btn btn-success" %>&emsp;&emsp;
                <%= link_to "削除する", event_path, method: :delete,
                  data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!--参加メンバー表示用の記述-->
      <div class="col-3">
        <div id="event_members">
          <%= render 'public/events/event_members', event: @event, event_members: @event_members, event_invited_members: @event_invited_members %>
        </div>
      </div>
      <!--参加メンバー表示用の記述ここまで-->
    </div>
  </div>
</div>