<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>会員情報変更</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <%= form_with model:@member, url: admin_residence_member_path(params[:residence_id]), local:true do |f| %>
              <%= render 'layouts/errors', obj: @member %>
              <table class="table table-borderless">
                <tbody>
                  <div class="form-group">
                    <tr>
                      <td><%= f.label :写真 %></td>
                      <td><%= f.file_field :profile_image %></td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td><%= f.label :名前 %></td>
                      <td><%= f.text_field :name, placeholder: "名前", class: 'form-control' %></td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td><%= f.label :部屋番号 %></td>
                      <td><%= f.text_field :house_address, placeholder: "部屋番号", class: 'form-control' %></td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td><%= f.label :メールアドレス %></td>
                      <td><%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class: 'form-control' %></td>
                    </tr>
                  </div>
                </tbody>
              </table>
              <div class="form-group text-center">
                <tr>
                  <td><%= f.submit "  変更を保存  ", class: 'btn btn-success' %></td>
                </tr>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>