<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>予定名</th>
      <th>日程</th>
      <th>場所</th>
    </tr>
  </thead>
  <tbody>
    <% plans.each do |plan| %>
      <tr class="index_tr" data-href="/plans/<%= plan.id %>">
        <td><%= plan.subject %></td>
        <% if plan.started_at.to_date == plan.finished_at.to_date %>
          <td><%= l plan.started_at %> ~ <%= l plan.finished_at, format: :short %></td>
        <% else %>
          <td><%= l plan.started_at %> ~ <%= l plan.finished_at %></td>
        <% end %>
        <td><%= plan.venue %></td>
      </tr>
    <% end %>
  </tbody>
</table>