<table class='table table-borderless'>
  <thead>
    <tr>
      <th>予定名</th>
      <th>日程</th>
      <th>場所</th>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody>
    <% plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.subject, public_plan_path(plan) %></td>
        <td><%= l plan.started_at %> ~ <%= l plan.finished_at %></td>
        <td><%= plan.venue %></td>
        <td><%= plan.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>