<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>掲示板一覧</h2>
      <div class="ml-auto mr-3">
        <%= link_to "掲示板に新しく投稿", new_board_path, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">全て</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">既読の掲示板</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">未読の掲示板</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section4">あなたの掲示板</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render 'public/boards/index', boards: @boards, reads: @reads %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render 'public/boards/index', boards: @boards_read, reads: @reads %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render 'public/boards/index', boards: @boards_not_read, reads: @reads %>
          </div>
          <div id="section4" class="tab-pane fade">
            <%= render 'public/boards/index', boards: @boards_mine, reads: @reads %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>