<table class='table table-borderless'>
  <thead>
    <tr>
      <th>イベント名</th>
　　　<th>作成者名</th>
      <th>開催期間</th>
      <th>開催場所</th>
      <th style="width:9%">参加人数</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event.name.truncate(20), admin_residence_event_path(params[:residence_id], event) %></td>
        <td><%= check_member_created(event) %></td>
        <% if event.started_at.to_date == event.finished_at.to_date %>
          <td><%= l event.started_at %> ~ <%= l event.finished_at, format: :short %></td>
        <% else %>
          <td><%= l event.started_at %> ~ <%= l event.finished_at %></td>
        <% end %>
        <td><%= event.venue %></td>
        <td class="text-center"><%= event.event_members.count %>人</td>
      </tr>
    <% end %>
  </tbody>
</table>