<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>イベント詳細</h2>
      </div>
      <div class="container">
        <div class="offset-1">
          <table class='table table-borderless'>
            <% if @event.member_id == 0 %>
              <tr><th style="width: 20%">作成者名</th><td>管理人</td></tr>
            <% else %>
              <tr><th style="width: 20%">作成者名</th><td><%= @event.member.name %></td></tr>
            <% end %>
            <tr><th>居住地</th><td><%= @event.residence.name %></td></tr>
            <tr><th>イベント名</th><td><%= @event.name %></td></tr>
            <tr><th>説明</th><td><%= @event.description %></td></tr>
            <tr><th>開始時間</th><td><%= l @event.started_at %></td></tr>
            <tr><th>終了時間</th><td><%= l @event.finished_at %></td></tr>
            <tr><th>開催場所</th><td><%= @event.venue %></td></tr>
          </table>

          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_admin_event_path, class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", admin_event_path, method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
            </div>
          </div>

          <!--参加メンバー表示用の記述-->
            <div class="col-6 mt-5">
              <div class="row mb-3 d-flex align-items-center">
                <h4>参加メンバー</h4>&emsp;
                <%= link_to admin_event_event_members_path(@event) do %>
                  <span class="text-primary font-weight-bold"><%= @event_members.count %>人</span> <span class="text-primary">(招待中 <%= @event_invited_members.count %>人)</span>
                <% end %>
              </div>
              <table class='table table-borderless'>
                <tbody>
                  <% @event_members.each do |event_member| %>
                    <tr>
                      <td style="width: 35%"><%= event_member.member.name %></td>
                    </tr>
                  <% end %>
                  <% @event_invited_members.each do |event_invited_member| %>
                    <tr>
                      <td style="width: 35%"><%= event_invited_member.member.name %> <span class="text-info small">(招待中)</span></td>
                    </tr>
                  <% end %>

                </tbody>
              </table>
            </div>
            <!--参加メンバー表示用の記述ここまで-->

        </div>
      </div>
     </div>
  </div>
</div>