<%= form_with model:residence, url: path, local: true do |f| %>
  <div class="ml-5">
    <%= render 'layouts/errors', obj: residence %>
  </div>
  <div class="form-group align-items-center">
    <table class="table table-borderless">
      <div class="form-group">
        <tr>
          <td><%= f.label :管理者名 %></td>
          <td style="width: 70%"><%= current_admin.name %></td>
          <%= f.hidden_field :admin_id, :value => current_admin.id %>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= f.label :名称 %></td>
          <td><%= f.text_field :name, placeholder: "居住地名", class: 'form-control ' %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= f.label :住宅種別 %></td>
          <td>
            <%= f.radio_button :housing_type, Residence.housing_types.key(0), checked: true %>
            <%= f.label :housing_type_apartment, Residence.housing_types_i18n[:apartment] %>&nbsp;&nbsp;
            <%= f.radio_button :housing_type, Residence.housing_types.key(1) %>
            <%= f.label :housing_type_house, Residence.housing_types_i18n[:house] %>
          </td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <td><%= f.label :所在地 %></td>
          <td><%= f.text_field :address, placeholder: "所在地", class: 'form-control ' %></td>
        </tr>
      </div>
    </table>
    <div class="form-group text-center">
      <% if residence.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-primary' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>