<div class="ml-5 mb-3">
  <%= form_with model:equipment, url: path, local: true do |f| %>
    <div class="ml-5">
      <%= render 'layouts/errors', obj: equipment %>
    </div>
    <table class="table table-borderless">
      <tbody>
        <div class="form-group">
          <tr>
            <td>居住地</td>
            <td><%= residence.name %></td>
            <%= f.hidden_field :residence_id, :value => residence.id %>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :写真 %></td>
            <td><%= f.file_field :equipment_images %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td style="width: 20%"><%= f.label :名称 %></td>
            <td style="width: 70%"><%= f.text_field :name, placeholder: "備品名", class: 'form-control ' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :説明 %></td>
            <td><%= f.text_area :description, placeholder: "備品の説明を記述します", class: 'form-control', rows: "5" %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :ジャンル %></td>
            <td>
              <%= f.select :genre_id,
              options_from_collection_for_select(genres, :id, :name), {prompt: "ジャンルを選択してください"},
              class: 'form-control' %>
            </td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :在庫数 %></td>
            <td><%= f.select :stock, 1..10, { prompt: '在庫数を選択してください' }, class: 'form-control' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :保管場所 %></td>
            <td><%= f.text_field :storage_location, placeholder: "保管場所", class: 'form-control' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :返却場所 %></td>
            <td><%= f.text_field :return_location, placeholder: "返却場所", class: 'form-control' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :メモ %></td>
            <td><%= f.text_field :note, placeholder: "メモ", class: 'form-control' %></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <% if equipment.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>