<table class='table table-bordered'>
  <thead>
    <tr>
      <th>居住地</th>
      <th>名称</th>
      <th>説明</th>
      <th>ジャンル</th>
      <th>在庫</th>
      <th>保管場所</th>
      <th>返却場所</th>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody>
    <% equipments.each do |equipment| %>
      <tr>
        <td><%= equipment.residence.name %></td>
        <td><%= link_to equipment.name, admin_equipment_path(equipment) %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.genre.name %></td>
        <td><%= equipment.stock %>個</td>
        <td><%= equipment.storage_location %></td>
        <td><%= equipment.return_location %></td>
        <td><%= equipment.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>