<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="row ml-5 mb-3">
        <h2>備品詳細</h2>
        <div class="ml-auto mr-3">
          <%= form_with model: Reservation, url: new_admin_residence_reservation_path(params[:residence_id]), method: :get, local: true do |f| %>
            <%= f.hidden_field :equipment_id, :value => @equipment.id %>
            <%= f.submit "予約する", class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="offset-1">
          <table class='table table-borderless'>
            <tr><th>備品画像</th><td><%= image_tag @equipment.get_equipment_image, width: '100px' %></td></tr>
            <tr><th>備品名</th><td><%= @equipment.name %></td></tr>
            <tr><th>説明</th><td><%= @equipment.description %></td></tr>
            <% if @equipment.genre_id == 0 || @equipment.genre.is_deleted == true %>
              <tr><th>ジャンル</th><td>(未設定)</td></tr>
            <% else %>
              <tr><th>ジャンル</th><td><%= @equipment.genre.name %></td></tr>
            <% end %>
            <tr><th>在庫</th><td><%= @equipment.stock %></td></tr>
            <tr><th>保管場所</th><td><%= @equipment.storage_location %></td></tr>
            <tr><th>返却場所</th><td><%= @equipment.return_location %></td></tr>
            <tr><th>メモ</th><td><%= @equipment.note %></td></tr>
          </table>
          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_admin_residence_equipment_path(params[:residence_id]), class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", admin_residence_equipment_path(params[:residence_id]), method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 ml-5 mb-3">
        <h2><%= @equipment.name %>の予約一覧</h2>
      </div>
      <div class="container">
        <div class="offset-1 mb-3">
          <%= render 'admin/reservations/index', reservations: @equipment_reservations %>
        </div>
      </div>
    </div>
  </div>
</div>