<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>落とし物一覧</h2>
      <div class="ml-auto">
        <%= link_to "落とし物を登録する", new_public_lost_item_path, class: 'btn btn-sm btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">掲載中</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">保管中</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">保管終了</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section4">あなたの落とし物</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render 'public/lost_items/index', lost_items: @lost_items %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render 'public/lost_items/index', lost_items: @lost_items_storage %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render 'public/lost_items/index', lost_items: @lost_items_finished %>
          </div>
          <div id="section4" class="tab-pane fade">
            <%= render 'public/lost_items/index', lost_items: @lost_items_mine %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>