<div class="ml-5 mb-3">
  <%= form_with model:reservation, url: path, local: true do |f| %>
    <div class="ml-5">
      <%= render 'layouts/errors', obj: reservation %>
    </div>
    <table class="table table-borderless">
      <tbody>
        <%= f.hidden_field :member_id, :value => 0 %>
        <tr>
          <td>居住地</td>
          <td><%= Residence.find(params[:residence_id]).name %></td>
          <%= f.hidden_field :residence_id, :value => params[:residence_id] %>
        </tr>
        <tr>
          <% if reservation.new_record? %>　<!--新規登録の場合-->
            <% if params[:reservation][:equipment_id].present? %>
              <%= f.hidden_field :equipment_id, :value => params[:reservation][:equipment_id] %>
              <td>予約品</td>
              <td>
                <%= Equipment.find(params[:reservation][:equipment_id]).name %>&emsp;
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal_1">
                  >>他の予約を確認する
                </button>
                <!--モーダルウインドウの中身(新規・備品)-->
                <div class="modal fade" id="modal_1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title"><%= Equipment.find(params[:reservation][:equipment_id]).name %>の予約一覧</h4>
                      </div>
                      <div class="modal-body">
                        <% Equipment.find(params[:reservation][:equipment_id]).reservations.where('finished_at > ?', Time.now).order(started_at: "ASC", finished_at: "ASC").each do |reservation| %>
                          <% if reservation.started_at.to_date == reservation.finished_at.to_date %>
                            - <%= l reservation.started_at %> ~ <%= l reservation.finished_at, format: :short %><br>
                          <% else %>
                            - <%= l reservation.started_at %> ~ <%= l reservation.finished_at %><br>
                          <% end %>
                        <% end %>
                        <% if not Equipment.find(params[:reservation][:equipment_id]).reservations.where('finished_at > ?', Time.now).present? %>
                          現在、他の予約はありません。
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--モーダルウインドウの中身(新規・備品)ここまで-->
              </td>
            <% elsif params[:reservation][:facility_id].present? %>
              <%= f.hidden_field :facility_id, :value => params[:reservation][:facility_id] %>
              <td>予約設備</td>
              <td>
                <%= Facility.find(params[:reservation][:facility_id]).name %>&emsp;
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal_2">
                  >>他の予約を確認する
                </button>
                <!--モーダルウインドウの中身(新規・設備)-->
                <div class="modal fade" id="modal_2" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"><%= Facility.find(params[:reservation][:facility_id]).name %>の予約一覧</h4>
                      </div>
                      <div class="modal-body">
                        <% Facility.find(params[:reservation][:facility_id]).reservations.where('finished_at > ?', Time.now).order(started_at: "ASC", finished_at: "ASC").each do |reservation| %>
                          <% if reservation.started_at.to_date == reservation.finished_at.to_date %>
                            - <%= l reservation.started_at %> ~ <%= l reservation.finished_at, format: :short %><br>
                          <% else %>
                            - <%= l reservation.started_at %> ~ <%= l reservation.finished_at %><br>
                          <% end %>
                        <% end %>
                        <% if not Facility.find(params[:reservation][:facility_id]).reservations.where('finished_at > ?', Time.now).present? %>
                          現在、他の予約はありません。
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--モーダルウインドウの中身(新規・設備)ここまで-->
              </td>
            <% end %>
          <% else %> <!--予約修正の場合-->
            <% if reservation.equipment_id.present? %>
              <td>予約品</td>
              <td>
                <%= reservation.equipment.name %>&emsp;
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal_3">
                  >>他の予約を確認する
                </button>
                <!--モーダルウインドウの中身(編集・備品)-->
                <div class="modal fade" id="modal_3" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"><%= reservation.equipment.name %>の予約一覧</h4>
                      </div>
                      <div class="modal-body">
                        <% reservation.equipment.reservations.where('finished_at > ?', Time.now).order(started_at: "ASC", finished_at: "ASC").each do |equipment_reservation| %>
                          <% unless reservation == equipment_reservation %>
                            <% if equipment_reservation.started_at.to_date == equipment_reservation.finished_at.to_date %>
                              - <%= l equipment_reservation.started_at %> ~ <%= l equipment_reservation.finished_at, format: :short %><br>
                            <% else %>
                              - <%= l equipment_reservation.started_at %> ~ <%= l equipment_reservation.finished_at %><br>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if reservation.equipment.reservations.where('finished_at > ?', Time.now).count == 1 && reservation.equipment.reservations.where('finished_at > ?', Time.now).find_by(id: reservation.id).present? %>
                          現在、他の予約はありません。
                        <% end %>
                        <% if not reservation.equipment.reservations.where('finished_at > ?', Time.now).present? %>
                          現在、他の予約はありません。
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--モーダルウインドウの中身(編集・備品)ここまで-->
              </td>
            <% elsif reservation.facility_id.present? %>
              <td>予約設備</td>
              <td>
                <%= reservation.facility.name %>&emsp;
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal_4">
                  >>他の予約を確認する
                </button>
                <!--モーダルウインドウの中身(編集・設備)-->
                <div class="modal fade" id="modal_4" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"><%= reservation.facility.name %>の予約一覧</h4>
                      </div>
                      <div class="modal-body">
                        <% reservation.facility.reservations.where('finished_at > ?', Time.now).order(started_at: "ASC", finished_at: "ASC").each do |facility_reservation| %>
                          <% unless reservation == facility_reservation %>
                            <% if facility_reservation.started_at.to_date == facility_reservation.finished_at.to_date %>
                              - <%= l facility_reservation.started_at %> ~ <%= l facility_reservation.finished_at, format: :short %><br>
                            <% else %>
                              - <%= l facility_reservation.started_at %> ~ <%= l facility_reservation.finished_at %><br>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if reservation.facility.reservations.where('finished_at > ?', Time.now).count == 1 && reservation.facility.reservations.where('finished_at > ?', Time.now).find_by(id: reservation.id).present? %>
                          現在、他の予約はありません。
                        <% end %>
                        <% if not reservation.facility.reservations.where('finished_at > ?', Time.now).present? %>
                          現在、他の予約はありません。
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--モーダルウインドウの中身(編集・設備)ここまで-->
              </td>
            <% end %>
          <% end %>
        </tr>
        <div class="form-group">
          <tr>
            <td><%= f.label :使用開始日時 %></td>
            <td>
              <%= f.date_field :start_date, min: Date.today %>
              <%= f.time_select :started_at, {start_hour: 7, end_hour: 21, include_blank: true, minute_step: 30} %>
            </td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :使用完了日時 %></td>
            <td>
              <%= f.date_field :finish_date, min: Date.today %>
              <%= f.time_select :finished_at, {start_hour: 7, end_hour: 21, include_blank: true, minute_step: 30} %></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <% if reservation.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>