<table class='table table-borderless'>
  <thead>
    <tr>
      <% if controller.controller_name == "reservations" %>
        <th style="width:20%">備品・設備名</th>
      <% end %>
      <th>予約日程</th>
      <th>予約者名</th>
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |reservation| %>
      <tr>
        <% if controller.controller_name == "reservations" %>
          <% if reservation.equipment_id.present? %>
            <td><%= link_to reservation.equipment.name, admin_residence_equipment_path(params[:residence_id], reservation.equipment) %></td>
          <% elsif reservation.facility_id.present? %>
            <td><%= link_to reservation.facility.name, admin_residence_facility_path(params[:residence_id], reservation.facility)%></td>
          <% end %>
        <% end %>
        <td>
          <%= link_to admin_residence_reservation_path(params[:residence_id], reservation) do %>
            <% if reservation.started_at.to_date == reservation.finished_at.to_date %>
              <%= l reservation.started_at %> ~ <%= l reservation.finished_at, format: :short %>
            <% else %>
              <%= l reservation.started_at %> ~ <%= l reservation.finished_at %>
            <% end %>
          <% end %>
        </td>
        <td><%= check_member_created(reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>