<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class="col-3">
      <%= render 'layouts/residence_search', residences: @residences %>
    </div>
    <div class='col-md-9'>
      <div class="row mr-3 mb-3">
        <h2>予約一覧</h2>
        <div class="ml-auto">
          <div>
            <%= link_to "備品予約",admin_equipments_path, class: 'btn btn-sm btn-success' %>&ensp;
            <%= link_to "設備予約",admin_facilities_path, class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#section1">予約</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#section2">過去の予約</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="section1" class="tab-pane fade show active">
              <%= render 'admin/reservations/index', reservations: @reservations %>
            </div>
            <div id="section2" class="tab-pane fade">
              <%= render 'admin/reservations/index', reservations: @reservations_past %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>