<div class='container p-5 px-sm-0'>
  <div class='row ml-5 mb-3'>
        <h2>予約詳細</h2>
      </div>
      <div class="container">
        <div class="mx-auto">
          <div class="offset-1">
            <table class='table table-borderless'>
              <tr><th>居住地</th><td><%= @reservation.residence.name %></td></tr>
              <% if @reservation.equipment_id.present? %>
                <tr><th>予約品</th><td><%= link_to @reservation.equipment.name, admin_equipment_path(@reservation.equipment) %></td></tr>
              <% elsif @reservation.facility_id.present? %>
                <tr><th>予約設備</th><td><%= link_to @reservation.facility.name, admin_facility_path(@reservation.facility) %></td></tr>
              <% end %>
              <tr><th>予約者</th><td><%= check_member_created(@reservation) %></td></tr>
              <% if @reservation.started_at.to_date == @reservation.finished_at.to_date %>
                <tr><th>予約期間</th><td><%= l @reservation.started_at %> ~ <%= l @reservation.finished_at, format: :short %></td></tr>
              <% else %>
                <tr><th>予約期間</th><td><%= l @reservation.started_at %> ~ <%= l @reservation.finished_at %></td></tr>
              <% end %>
            </table>

            <div class="row">
              <div class="mx-auto">
                <%= link_to "編集する", edit_admin_reservation_path, class: "btn btn-success" %>&emsp;&emsp;
                <%= link_to "削除する", admin_reservation_path, method: :delete,
                  data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>