<% if boards.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">掲示板</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/boards/index', boards: boards, reads: reads %>
  </div>
<% end %>

<% if communities.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">コミュニティ</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/communities/index', communities: communities %>
  </div>
<% end %>

<% if events.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">イベント</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/events/index', events: events %>
  </div>
<% end %>

<% if exchanges.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">ゆずりあい</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/exchanges/index', exchanges: exchanges %>
  </div>
<% end %>

<% if lost_items.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">落とし物</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/lost_items/index', lost_items: lost_items %>
  </div>
<% end %>

<% if equipments.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">備品</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/equipments/index', equipments: equipments %>
  </div>
<% end %>

<% if facilities.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">設備</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/facilities/index', facilities: facilities %>
  </div>
<% end %>

<% if members.present? %>
  <div class="mb-3">
    <h2 class="border-bottom border-dark">会員</h2>
  </div>
  <div class="ml-3">
    <%= render 'public/members/index', members: members %>
  </div>
<% end %>

<% if not
  boards.present? ||
  communities.present? ||
  events.present? ||
  exchanges.present? ||
  lost_items.present? ||
  equipments.present? ||
  facilities.present? ||
  members.present?
%>
  <p>該当するものはありません。</p>
<% end %>