<table class='table table-borderless'>
  <thead>
    <tr>
      <% if controller.action_name != "residence_search" %>
        <th>居住地</th>
      <% end %>
      <th>作成者</th>
      <th>品名</th>
      <th style="width:13%">費用</th>
      <th>掲載期限</th>
      <th style="width:13%">募集状況</th>
    </tr>
  </thead>
  <tbody>
    <% exchanges.each do |exchange| %>
      <tr>
        <% if controller.action_name != "residence_search" %>
          <td><%= exchange.residence.name %></td>
        <% end %>
        <td><%= exchange.member.name %></td>
        <td><%= link_to exchange.name, admin_exchange_path(exchange) %></td>
        <% if exchange.price == 0 %>
          <td class="text-center">無償</td>
        <% else %>
          <td class="text-center"><%= exchange.price.to_s(:delimited) %>円</td>
        <% end %>
        <td><%= l exchange.deadline %></td>
        <% if exchange.is_finished == false %>
          <td class="text-success text-center">募集中</td>
        <% else %>
          <td class="text-secondary text-center">募集終了</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>