<% if member_signed_in? %>
  <div class='container p-5 px-sm-0'>
    <!--新着掲示板-->
    <div class="mr-3 mb-3">
      <% if @boards.present? || @exchanges.present? || @lost_items.present? || @events.present? %>
        <h2><i class="fa-sharp fa-solid fa-circle-info fa-bounce"></i>新着情報</h2>
      <% else %>
        <h2><i class="fa-sharp fa-solid fa-circle-info"></i>新着情報</h2>
      <% end %>
    </div>
    <div class="ml-3">
      <h4>掲示板</h4>
    </div>
    <div class="container">
      <div class="ml-3">
        <% if @boards.present? %>
          <%= render 'public/boards/index', boards: @boards, reads: @reads %>
        <% else %>
          <p>新着の掲示板はありません。</p>
        <% end %>
      </div>
    </div>
    <!--新着掲示板ここまで-->
    <!--新着譲り合い-->
    <div class="ml-3">
      <h4>ゆずりあい</h4>
    </div>
    <div class="container">
      <div class="ml-3">
        <% if @exchanges.present? %>
          <%= render 'public/exchanges/index', exchanges: @exchanges %>
        <% else %>
          <p>新着のゆずりあいはありません。</p>
        <% end %>
      </div>
    </div>
    <!--新着譲り合いここまで-->
    <!--新着落とし物-->
    <div class="ml-3">
      <h4>落とし物</h4>
    </div>
    <div class="container">
      <div class="ml-3">
        <% if @lost_items.present? %>
          <%= render 'public/lost_items/index', lost_items: @lost_items %>
        <% else %>
          <p>新着の落とし物はありません。</p>
        <% end %>
      </div>
    </div>
    <!--新着落とし物ここまで-->
    <!--イベント招待(あれば表示）-->
    <% if @events.present? %>
      <div class="ml-3 mb-3">
        <h4>イベント</h4>
        <span class="ml-3"><%= @events.count %>件の招待があります。</span>
      </div>
      <div class="container">
        <div class="ml-3">
          <%= render 'public/events/index', events: @events %>
        </div>
      </div>
    <% end %>
    <!--イベント招待ここまで-->
  </div>
<% else %>
  <div class="text-center mt-5">
    <h2>ようこそ、「すむこみゅ」へ！！</h2><br>
    <p>このサイトはご近所付き合いの補助を目的としたコミュニティサイトです。</p>
    <p>すむこみゅなら、ご近所付き合いの困ったをまるっと解決します！</p><br>
    <p><span>会員登録がお済みの方は、</span><%= link_to "こちら", new_member_session_path %><span>よりログインしてください。</span></p><br>
    <p>会員登録がお済みでない方は、下記より新規会員登録をお願いいたします。</p>
  </div>
  <div class="text-center mt-3">
    <%= link_to "会員登録する", public_residences_path, class: "btn btn-info" %>
  </div>
<% end %>