<% if boards.present? %>
  <div class="mb-3">
    <h2>掲示板</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/boards/index', boards: boards %>
  </div>
<% end %>

<% if communities.present? %>
  <div class="mb-3">
    <h2>コミュニティ</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/communities/index', communities: communities %>
  </div>
<% end %>

<% if events.present? %>
  <div class="mb-3">
    <h2>イベント</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/events/index', events: events %>
  </div>
<% end %>

<% if exchanges.present? %>
  <div class="mb-3">
    <h2>ゆずりあい</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/exchanges/index', exchanges: exchanges %>
  </div>
<% end %>

<% if lost_items.present? %>
  <div class="mb-3">
    <h2>落とし物</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/lost_items/index', lost_items: lost_items %>
  </div>
<% end %>

<% if equipments.present? %>
  <div class="mb-3">
    <h2>備品</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/equipments/index', equipments: equipments %>
  </div>
<% end %>

<% if facilities.present? %>
  <div class="mb-3">
    <h2>設備</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/facilities/index', facilities: facilities %>
  </div>
<% end %>

<% if genres.present? %>
  <div class="mb-3">
    <h2>ジャンル</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/genres/index', genres: genres %>
  </div>
<% end %>

<% if members.present? %>
  <div class="mb-3">
    <h2>会員</h2>
  </div>
  <div class="ml-3">
    <%= render 'admin/members/index', members: members %>
  </div>
<% end %>

<% if not
  boards.present? ||
  communities.present? ||
  events.present? ||
  exchanges.present? ||
  lost_items.present? ||
  equipments.present? ||
  facilities.present? ||
  genres.present? ||
  members.present?
%>
  <p>該当するものはありません。</p>
<% end %>
