<div class="ml-5 mb-3">
  <%= form_with model:board, url: path, local: true do |f| %>
    <%= render 'layouts/errors', obj: board %>
    <table class="table table-borderless">
      <tbody>
        <div class="form-group">
          <tr>
            <td><%= f.label :居住地 %></td>
            <td>
              <%= f.select :residence_id,
              options_from_collection_for_select(current_admin.residences, :id, :name), {prompt: "選択してください"},
              class: 'form-control' %>
            </td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td style="width: 20%"><%= f.label :件名 %></td>
            <td style="width: 70%"><%= f.text_field :name, placeholder: "件名", class: 'form-control ' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :本文 %></td>
            <td><%= f.text_area :body, placeholder: "ここに本文を記述します", class: 'form-control', rows: "10" %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :回覧板に設定しますか？ %></td>
            <td>
              <div class="form_check form-check-inline">
                <%= f.radio_button :is_circular, true, class: "form-check-input" %>
                <%= f.label :is_circular_true, "はい" %>
              </div>
              <div class="form_check form-check-inline">
                <%= f.radio_button :is_circular, false, class: "form-check-input" %>
                <%= f.label :is_circular_false, "いいえ" %>
              </div>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <tr>
        <% if board.new_record? %>
          <td class="text-center"><%= f.submit "新規登録", class: 'btn btn-success' %></td>
        <% else %>
          <td class="text-center"><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
        <% end %>
      </tr>
    </div>
  <% end %>
</div>