<table class='table table-borderless'>
  <thead>
    <tr>
      <th>作成者</th>
      <th>名称</th>
      <th>本文</th>
      <th style="width:7%">回覧</th>
      <th style="width:13%"></th>
    </tr>
  </thead>
  <tbody>
    <% boards.each do |board| %>
      <tr>
        <td><%= check_member_created(board) %></td>
        <td><%= link_to board.name, admin_residence_board_path(params[:residence_id], board) %></td>
        <td><%= board.body.truncate(30) %></td>
        <% if board.is_circular == true %>
          <td class="text-center text-weight-bold text-success"><i class="fa-regular fa-circle"></i></td>
          <% if board.circular_members.count == 0 %>
            <td>回覧メンバー未設定</td>
          <% elsif reads.where(board_id: board.id, member_id: board.circular_members.pluck(:member_id)).count == board.circular_members.count && board.circular_members.exists? %>
            <td class="text-success">全員確認済み</td>
          <% else %>
            <td class="text-center">確認済み<%= Read.where(board_id: board.id, member_id: board.circular_members.pluck(:member_id)).count %>/<%= board.circular_members.count %></td>
          <% end %>
        <% else %>
          <td class="text-center">-</td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>