<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>掲示板詳細</h2>
      </div>
      <div class="container">
        <div class="offset-1">
          <table class='table table-borderless'>
            <tr><th style="width: 20%">作成者名</th><td><%= check_member_created(@board) %></td></tr>
            <tr><th>件名</th><td><%= @board.name %></td></tr>
            <tr><th>本文</th><td><%= @board.body %></td></tr>
          </table>

          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_admin_residence_board_path(params[:residence_id]), class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", admin_residence_board_path(params[:residence_id]), method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
            </div>
          </div>

          <!--回覧メンバー表示用の記述-->
          <% if @board.is_circular == true %>
            <div class="mt-5">
              <div class="row mb-3 d-flex align-items-center">
                <h4>回覧メンバー</h4>&emsp;
                <% if @board_checked_members.count == @circular_members.count && @circular_members.exists? %>
                  <span class="text-primary font-weight-bold">全員確認済</span>
                <% elsif @circular_members.count == 0 %>
                  <span>（回覧メンバーが設定されていません）</span>
                <% else %>
                  <span>&emsp;確認済：<%= @board_checked_members.count %>人（<%= @circular_members.count %>人中）</span>
                <% end %>
                <%= link_to ">>回覧メンバーを編集する", admin_residence_board_circular_members_index_path(params[:residence_id], @board), class: "text-success" %>
              </div>
              <table class='table table-borderless'>
                <tbody>
                  <% @circular_members.each do |circular_member| %>
                    <tr>
                      <td style="width: 30%"><%= circular_member.member.name %></td>
                      <% if Read.where(board_id: @board.id, member_id: circular_member.member_id).present? %>
                        <td class="text-primary"><i class="fa-solid fa-check"></i></td>
                      <% else %>
                        <td class="text-secondary"><i class="fa-solid fa-xmark"></i></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
          <!--回覧メンバー表示用の記述ここまで-->
        </div>
      </div>
     </div>
  </div>
</div>