<div class="row mb-3 d-flex align-items-center">
  <h4>コメント</h4>&emsp;
  <span class="text-primary font-weight-bold"><%= community_comments.count - community_comments.where(is_deleted: true).count %>件</span>
</div>
<div class="text-center text-danger font-weight-bold">
  <%= flash[:alert] %>
</div>
<div>
  <% if community_members.find_by(member_id: current_member.id).present? %>
    <%= form_with model: CommunityComment.new, url: public_community_community_comments_path(community), method: :post, local: false do |f| %>
      <%= f.hidden_field :community_id, :value => community.id %>
      <%= f.hidden_field :member_id, :value => current_member.id %>
      <%= f.text_area :comment, class: "form-control" %>
      <div class="mt-2 text-center">
        <%= f.submit "コメントする", class: 'btn btn-sm btn-secondary' %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="mt-2 comment_box">
  <% community_comments.each do |comment| %>
    <% if comment.member == current_member %>
      <div class="comment_group">
        <div class="comment_mine">
          <% if comment.is_deleted == true %>
            <span class="comment_body_deleted">このコメントは管理者によって削除されました</span>
          <% else %>
            <span class="my_comment_body"><%= comment.comment %></span>
          <% end %>
          <div class="comment_info">
            <div class="comment_info_body">
              <span class="ml-auto mr-2">(<%= l comment.created_at, format: :comment %>)</span>
            </div>
            <!--コメントを論理削除するための処理-->
            <div>
              <% if community_members.find_by(member_id: current_member.id, is_admin: true).present? %>
                <% if comment.is_deleted == false %>
                  <div>
                    <%= form_with model: CommunityComment.new, url: public_community_community_comment_path(community, comment), method: :patch, local: false do |f| %>
                      <%= f.hidden_field :is_deleted, :value => true %>
                      <%= button_tag type: "submit", class: 'btn btn-sm' do %>
                        <i class="fa-solid fa-trash"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <!--コメントを論理削除するための処理ここまで-->
          </div>
        </div>
      </div>
    <% else %>
      <div class="comment_group">
        <div class="comment_others">
          <% if comment.is_deleted == true %>
            <span class="comment_body_deleted">このコメントは管理者によって削除されました</span>
          <% else %>
            <span class="comment_body"><%= comment.comment %></span>
          <% end %>
          <div class="comment_info">
            <div class="comment_info_body">
              <span class="mr-2">(<%= l comment.created_at, format: :comment %></span>
              <span><%= comment.member.name %>)</span>
            </div>
            <div>
              <% if community_members.find_by(member_id: current_member.id, is_admin: true).present? %>
                <% if comment.is_deleted == false %>
                  <%= form_with model: CommunityComment.new, url: public_community_community_comment_path(community, comment), method: :patch, local: false do |f| %>
                    <%= f.hidden_field :is_deleted, :value => true %>
                    <%= button_tag type: "submit", class: 'btn btn-sm' do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>