<div class="ml-5 mb-3">
  <%= form_with model:community, url: path, local: true do |f| %>
    <div class="ml-5">
      <%= render 'layouts/errors', obj: community %>
    </div>
    <table class="table table-borderless">
      <tbody>
        <%= f.hidden_field :residence_id, :value => current_member.residence.id %>
        <%= f.hidden_field :member_id, :value => current_member.id %>
        <div class="form-group">
          <tr>
            <td>コミュニティ画像</td>
            <td><%= f.file_field :community_image %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td style="width: 20%"><%= f.label :コミュニティ名 %></td>
            <td style="width: 70%"><%= f.text_field :name, placeholder: "コミュニティ名", class: 'form-control ' %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :本文 %></td>
            <td><%= f.text_area :description, placeholder: "コミュニティの説明を記述します", class: 'form-control', rows: "5" %></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <% if community.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>