<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th style="width:10%">画像</th>
      <th style="width:30%">コミュニティ名</th>
      <th style="width:50%">説明</th>
      <th>人数</th>
    </tr>
  </thead>
  <tbody>
    <% communities.each do |community| %>
      <tr class="index_tr" data-href="/public/communities/<%= community.id %>">
        <td><%= image_tag community.get_community_image, width: '50px' %></td>
        <td class="align-middle"><%= community.name.truncate(20) %></td>
        <td class="align-middle"><%= community.description.truncate(30) %></td>
        <td class="align-middle"><%= community.community_members.count %> 人</td>
      </tr>
    <% end %>
  </tbody>
</table>