<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>コミュニティ一覧</h2>
      <div class="ml-auto mr-3">
        <%= link_to "新しいコミュニティを作る", new_community_path, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">全て</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">参加中のコミュニティ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">未参加のコミュニティ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section4">あなたのコミュニティ</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render 'public/communities/index', communities: @communities %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render 'public/communities/index', communities: @communities_join %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render 'public/communities/index', communities: @communities_not_join %>
          </div>
          <div id="section4" class="tab-pane fade">
            <%= render 'public/communities/index', communities: @communities_mine %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>