<div class='container p-5 px-sm-0'>
  <div class="row ml-5 mb-3">
    <h2>コミュニティ詳細</h2>
    <div class="ml-auto">
      <%= render 'public/communities/join', community: @community %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-1">
        <table class='table table-borderless'>
          <tr><th style="width: 25%">作成者名</th><td><%= check_member_created(@community) %></td></tr>
          <tr><th>コミュニティ画像</th><td><%= image_tag @community.get_community_image, width: '100px' %></td></tr>
          <tr><th>コミュニティ名</th><td><%= @community.name %></td></tr>
          <tr><th>説明</th><td><%= @community.description %></td></tr>
        </table>
        <% if @community_members.find_by(member_id: current_member.id) && @community_member.is_admin == true %>
          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_public_community_path(@community), class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", public_community_path(@community), method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>

        <!--コメント表示用の記述-->
        <div class="mt-5">
          <%= render 'public/communities/comment', community: @community, community_comments: @community_comments, community_member: @community_member %>
        </div>
        <!--コメント表示用の記述ここまで-->
      </div>
      <!--参加メンバー表示用の記述-->
      <div class="col-3">
        <div class="row mb-3 d-flex align-items-center">
          <h4>参加メンバー</h4>&emsp;
          <%= link_to public_community_community_members_path(@community) do %>
            <span class="text-primary font-weight-bold"><%= @community_members.count %>人</span>
          <% end %>
        </div>
        <table class='table table-borderless table-sm'>
          <tbody>
            <% @community_members.each do |community_member| %>
              <tr>
                <td style="width: 65%"><%= community_member.member.name %></td>
                <% if community_member.is_admin == true %>
                  <td class="text-danger">管理者</td>
                <% else %>
                  <td class="text-success">メンバー</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!--参加メンバー表示用の記述ここまで-->
    </div>
  </div>
</div>