<div class='container p-5 px-sm-0'>
  <div class="row ml-5 mb-3">
    <h2>コミュニティ詳細</h2>
    <div class="ml-auto">
      <div id="join">
        <%= render 'public/communities/join', community: @community %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-1">
        <table class='table table-borderless'>
          <tr><th style="width: 25%">作成者名</th><td><%= check_member_created(@community) %></td></tr>
          <tr><th>コミュニティ画像</th><td><%= image_tag @community.get_community_image, width: '150px' %></td></tr>
          <tr><th>コミュニティ名</th><td><%= @community.name %></td></tr>
          <tr><th>説明</th><td><%= @community.description %></td></tr>
        </table>
        <% if @community_members.find_by(member_id: current_member.id, is_admin: true) %>
          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_community_path(@community), class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", community_path(@community), method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>

        <!--コメント表示用の記述-->
        <div class="mt-5">
          <div id="comment">
            <%= render 'public/communities/comment', community: @community, community_comments: @community_comments, community_members: @community_members %>
          </div>
        </div>
        <!--コメント表示用の記述ここまで-->
      </div>
      <!--参加メンバー表示用の記述-->
      <div class="col-3">
        <div id="community_members">
          <%= render 'public/communities/community_members', community: @community, community_members: @community_members %>
        </div>
      </div>
      <!--参加メンバー表示用の記述ここまで-->
    </div>
  </div>
</div>