<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>名称</th>
      <th>ジャンル</th>
      <th>在庫</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% equipments.each do |equipment| %>
      <tr class="index_tr" data-href="/equipments/<%= equipment.id %>">
        <td><%= equipment.name %></td>
        <% if equipment.genre_id == 0 %>
          <td>(未設定)</td>
        <% else %>
          <td><%= equipment.genre.name %></td>
        <% end %>
        <td><%= equipment.stock %>個</td>
        <td>
          <%= form_with model: Reservation, url: new_reservation_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :equipment_id, :value => equipment.id %>
            <%= f.submit "予約する", class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>