<div class="ml-5 mb-3">
  <%= form_with model:reservation, url: path, local: true do |f| %>
    <%= render 'layouts/errors', obj: reservation %>
    <table class="table table-borderless">
      <tbody>
        <%= f.hidden_field :member_id, :value => current_member.id %>
        <%= f.hidden_field :residence_id, :value => current_member.residence.id %>
        <tr>
          <% if reservation.new_record? %>
            <% if params[:reservation][:equipment_id].present? %>
              <%= f.hidden_field :equipment_id, :value => params[:reservation][:equipment_id] %>
              <td>予約品</td>
              <td>
                <%= Equipment.find(params[:reservation][:equipment_id]).name %>&emsp;
                <%= link_to ">>他の予約を確認する", public_equipment_path(params[:reservation][:equipment_id]) %>
              </td>
            <% elsif params[:reservation][:facility_id].present? %>
              <%= f.hidden_field :facility_id, :value => params[:reservation][:facility_id] %>
              <td>予約設備</td>
              <td>
                <%= Facility.find(params[:reservation][:facility_id]).name %>&emsp;
                <%= link_to ">>他の予約を確認する", public_facility_path(params[:reservation][:facility_id]) %>
              </td>
            <% end %>
          <% else %>
            <% if reservation.equipment_id.present? %>
              <td>予約品</td>
              <td>
                <%= reservation.equipment.name %>&emsp;
                <%= link_to ">>他の予約を確認する", public_equipment_path(reservation.equipment) %>
              </td>
            <% elsif reservation.facility_id.present? %>
              <td>予約設備</td>
              <td>
                <%= reservation.facility.name %>&emsp;
                <%= link_to ">>他の予約を確認する", public_facility_path(reservation.facility) %>
              </td>
            <% end %>
          <% end %>
        </tr>
        <div class="form-group">
          <tr>
            <td><%= f.label :使用開始日時 %></td>
            <td>
              <%= f.date_field :start_date, min: Date.today %>
              <%= f.time_select :started_at, {start_hour: 7, end_hour: 21, include_blank: true, minute_step: 30} %>
            </td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td><%= f.label :使用完了日時 %></td>
            <td>
              <%= f.date_field :finish_date, min: Date.today %>
              <%= f.time_select :finished_at, {start_hour: 7, end_hour: 21, include_blank: true, minute_step: 30} %></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="form-group text-center">
      <% if reservation.new_record? %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% else %>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>