<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <% if controller.controller_name == "reservations" %>
        <th>予約品・設備</th>
      <% end %>
      <th>日程</th>
      <th>予約者名</th>
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |reservation| %>
      <tr class="index_tr" data-href="/public/reservations/<%= reservation.id %>">
        <% if controller.controller_name == "reservations" %>
          <% if reservation.equipment_id.present? %>
            <td><%= reservation.equipment.name %></td>
          <% elsif reservation.facility_id.present? %>
            <td><%= reservation.facility.name %></td>
          <% end %>
        <% end %>
        <td><%= l reservation.started_at %> ~ <%= l reservation.finished_at %></td>
        <% if reservation.member_id == 0 %>
          <td>管理人</td>
        <% else %>
          <td><%= reservation.member.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>