<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>管理者情報</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-1">
            <table class='table table-borderless'>
              <tr><th class="align-middle">管理者名</th><td class="align-middle"><%= @admin.name %></td><td><%= link_to "編集する", edit_admin_residence_admin_path, class: "btn btn-success" %></td></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row ml-5 mt-3 mb-3">
        <h2>管理居住地</h2>
        <div class="ml-3"><%= link_to "新規管理居住地登録", new_admin_residence_path, class: "btn btn-primary" %></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-1">
            <table class='table table-borderless'>
              <thead>
                <tr>
                  <th>名称</th>
                  <th>住居タイプ</th>
                  <th>住所</th>
                  <th>使用人数</th>
                </tr>
              </thead>
              <tbody>
                <% @residences.each do |residence| %>
                  <tr>
                    <td class="align-middle"><%= residence.name %></td>
                    <td class="align-middle"><%= residence.housing_type_i18n %></td>
                    <td class="align-middle"><%= residence.address %></td>
                    <td class="text-center align-middle">
                      <%= link_to admin_residence_members_path(residence) do %>
                        <%= residence.members.count %>人
                      <% end %>
                    </td>
                    <td><%= link_to "編集", edit_admin_residence_path(residence), class: "btn btn-success" %></td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#QRCode-<%= residence.id %>">
                        会員登録用URL発行
                      </button>
                      <div class="modal fade" id="QRCode-<%= residence.id %>" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title mx-auto"><%= residence.name %>の会員登録用URL</h4>
                            </div>
                            <div class="modal-body">
                              <div class="text-center">
                                <%= qrcode "#{new_member_registration_path}?member%5Bresidence_id%5D=#{residence.id}", 5 %>
                              </div>
                              <!--コピー用の記述-->
                              <div class="mt-3">
                                <input id="copyTarget-<%= residence.id %>" type="text" style="width:100%; box-sizing:border-box" value= <%= make_url "#{new_member_registration_path}?member%5Bresidence_id%5D=#{residence.id}" %> readonly>
                                <input class="float-right mr-3 mt-2" type="button" value="コピー" onclick="copyToClipboard('<%= residence['id'] %>')">
                              </div>
                              <script>
                                function copyToClipboard(id) {
                                var targetId = "copyTarget-"+id;
                                var copyTarget = document.getElementById(targetId);
                                copyTarget.select();
                                document.execCommand("Copy");
                                }
                              </script>
                              <!--コピー用の記述ここまで-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>