<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>管理者情報</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-1">
            <table class='table table-borderless'>
              <tr><th class="align-middle">管理者名</th><td class="align-middle"><%= @admin.name %></td><td><%= link_to "編集する", edit_admin_admin_path, class: "btn btn-success" %></td></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row ml-5 mt-3 mb-3">
        <h2>管理居住地</h2>
        <div class="ml-3"><%= link_to "新規管理居住地登録", new_admin_residence_path, class: "btn btn-primary" %></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-1">
            <table class='table table-borderless'>
              <thead>
                <tr>
                  <th>名称</th>
                  <th>住居タイプ</th>
                  <th>住所</th>
                  <th>使用人数</th>
                </tr>
              </thead>
              <tbody>
                <% @residences.each do |residence| %>
                  <tr>
                    <td class="align-middle"><%= residence.name %></td>
                    <td class="align-middle"><%= residence.housing_type_i18n %></td>
                    <td class="align-middle"><%= residence.address %></td>
                    <td class="text-center align-middle">
                      <%= link_to residence_search_admin_members_path(residence) do %>
                        <%= residence.members.count %>人
                      <% end %>
                    </td>
                    <td><%= link_to "編集", edit_admin_residence_path(residence), class: "btn btn-success" %></td>
                    <td>
                      <%= form_with model: Member, url: new_member_registration_path, method: :get, local: true do |f| %>
                        <%= f.hidden_field :residence_id, :value => residence.id %>
                        <%= f.submit "会員登録画面へ", class: 'btn btn-primary' %>
                      <% end %>
                    </td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>