<table class='table table-bordered'>
  <thead>
    <tr>
      <% if controller.action_name != "residence_search" %>
        <th>居住地</th>
      <% end %>
      <th>作成者</th>
      <th>品名</th>
      <th>場所</th>
      <th>日時</th>
      <th style="width:13%">状況</th>
    </tr>
  </thead>
  <tbody>
    <% lost_items.each do |lost_item| %>
      <tr>
        <% if controller.action_name != "residence_search" %>
          <td><%= lost_item.residence.name %></td>
        <% end %>
        <% if lost_item.member_id == 0 %>
          <td>管理人</td>
        <% else %>
          <td><%= lost_item.member.name %></td>
        <% end %>
        <td><%= link_to lost_item.name, admin_lost_item_path(lost_item) %></td>
        <td><%= lost_item.picked_up_location %></td>
        <td><%= l lost_item.picked_up_at %></td>
        <% if lost_item.is_finished == false %>
          <td class="text-success text-center">保管中</td>
        <% else %>
          <td class="text-secondary text-center">返却済み</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>