<table class='table table-borderless'>
  <thead>
    <tr>
      <th>画像</th>
      <th>落とし物名</th>
      <th>拾った場所</th>
      <th>拾った日時</th>
      <th>掲載状況</th>
    </tr>
  </thead>
  <tbody>
    <% lost_items.each do |lost_item| %>
      <tr>
        <td>
          <% if lost_item.lost_item_images.attached? %>
            <% lost_item.lost_item_images.limit(1).each do |image| %>
              <%= image_tag image, width: '50px' %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image_obj.png', width: '50px' %>
          <% end %>
        </td>
        <td class="align-middle"><%= link_to lost_item.name, admin_residence_lost_item_path(params[:residence_id], lost_item) %></td>
        <td class="align-middle"><%= lost_item.picked_up_location %></td>
        <td class="align-middle"><%= l lost_item.picked_up_at %></td>
        <% if lost_item.is_finished == false %>
          <td class="align-middle text-success">掲載中</td>
        <% else %>
          <td class="align-middle text-secondary">掲載終了</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>