<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class="col-3">
      <%= render 'layouts/residence_search', residences: @residences %>
    </div>
    <div class='col-md-9'>
      <div class="row mb-3 mr-3">
        <h2>落とし物一覧</h2>
        <div class="ml-auto">
          <table><tr>
            <%= form_with model: LostItem, url: new_admin_lost_item_path, method: :get, local: true do |f| %>
              <td><%=
                f.select :residence_id,
                options_from_collection_for_select(current_admin.residences, :id, :name), {prompt: "選択してください"},
                required: true,
                class: 'form-control'
              %></td>
              <td><%= f.submit "選択した居住地に落とし物を登録", class: 'btn btn-sm btn-success' %></td>
            <% end %>
            </tr></table>
          </div>
      </div>
      <div class="container">
        <div class="ml-3">
          <%= render 'admin/lost_items/index', lost_items: @lost_items %>
        </div>
      </div>
     </div>
  </div>
</div>