<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="row mr-3">
        <h2>落とし物一覧</h2>
        <div class="ml-auto">
          <%= form_with model: LostItem, url: new_admin_residence_lost_item_path(params[:residence_id]), method: :get, local: true do |f| %>
            <%= f.hidden_field :residence_id, :value => params[:residence_id] %>
            <%= f.submit "新規登録", class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#section1">掲載中</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#section2">掲載終了</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="section1" class="tab-pane fade show active">
              <%= render 'admin/lost_items/index', lost_items: @lost_items %>
            </div>
            <div id="section2" class="tab-pane fade">
              <%= render 'admin/lost_items/index', lost_items: @lost_items_finished %>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>