<div class="row mb-3 d-flex align-items-center">
  <h4>コメント</h4>&emsp;
  <span class="text-primary font-weight-bold">全<%= community_comments.count %>件</span>
  <% if community_comments_deleted.count != 0 %>
    <span>(削除済み<%= community_comments_deleted.count %>件)</span>
  <% end %>
</div>
<table class='table table-borderless'>
  <tbody>
    <% community_comments.each do |community_comment| %>
      <tr>
        <td style="width: 25%"><%= community_comment.member.name %></td>
        <td><%= community_comment.comment %></td>
        <td><%= l community_comment.created_at %></td>
        <!--コメントを論理削除するための処理-->
        <% if community_comment.is_deleted == true %>
          <td class="text-danger">削除済み</td>
        <% else %>
          <td style="width: 15%">
            <%= form_with model: CommunityComment.new, url: admin_community_community_comment_path(community, community_comment), method: :patch, local: false do |f| %>
              <%= f.hidden_field :is_deleted, :value => true %>
              <%= button_tag type: "submit", class: 'btn btn-sm' do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <!--コメントを論理削除するための処理ここまで-->
      </tr>
    <% end %>
  </tbody>
</table>