<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>コミュニティ詳細</h2>
      </div>
      <div class="container">
        <div class="col-md-10 offset-1">
          <div class="mb-3">
            <table class='table table-borderless'>
              <tr><th style="width: 25%">居住地</th><td><%= @community.residence.name %></td></tr>
              <tr><th>作成者名</th><td><%= check_member_created(@community) %></td></td></tr>
              <tr><th>コミュニティ画像</th><td><%= image_tag @community.get_community_image, width: '100px' %></td></tr>
              <tr><th>コミュニティ名</th><td><%= @community.name %></td></tr>
              <tr><th>説明</th><td><%= @community.description %></td></tr>
            </table>
            <div class="row">
              <div class="mx-auto">
                <%= link_to "編集する", edit_admin_community_path, class: "btn btn-success" %>&emsp;&emsp;
                <%= link_to "削除する", admin_community_path, method: :delete,
                  data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
          <!--タブ切り替え-->
          <div class="tabs">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#section1">参加メンバー</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#section2">コメント</a>
              </li>
            </ul>

            <div class="tab-content">
              <div id="section1" class="tab-pane fade show active">
                <!--参加メンバー表示用の記述-->
                <div class="col-8 mt-5 mx-auto">
                  <div id="member">
                    <%= render 'admin/communities/member', community: @community, community_members: @community_members %>
                  </div>
                </div>
                <!--参加メンバー表示用の記述ここまで-->
              </div>
              <div id="section2" class="tab-pane fade">
                <!--コメント表示用の記述-->
                <div class="mt-5">
                  <div id="comment">
                    <%= render 'admin/communities/comment', community: @community, community_comments: @community_comments, community_comments_deleted: @community_comments_deleted %>
                  </div>
                </div>
                <!--コメント表示用の記述ここまで-->
              </div>
            </div>
          </div>
          <!--タブ切り替えここまで-->
        </div>
      </div>
    </div>
  </div>
</div>