<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="row ml-5 mb-3">
        <h2>設備詳細</h2>
        <div class="ml-auto mr-3">
          <%= form_with model: Reservation, url: new_admin_reservation_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :facility_id, :value => @facility.id %>
            <%= f.submit "予約する", class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="offset-1 mb-3">
          <table class='table table-borderless'>
            <tr><th style="width: 20%">居住地</th><td><%= @facility.residence.name %></td></tr>
            <tr><th>設備名</th><td><%= image_tag @facility.get_facility_image, width: '50px' %><%= @facility.name %></td></tr>
            <tr><th>説明</th><td><%= @facility.description %></td></tr>
            <% if @facility.genre_id == 0 %>
              <tr><th>ジャンル</th><td>(未設定)</td></tr>
            <% else %>
              <tr><th>ジャンル</th><td><%= @facility.genre.name %></td></tr>
            <% end %>
            <tr><th>メモ</th><td><%= @facility.note %></td></tr>
          </table>
          <div class="row">
            <div class="mx-auto">
              <%= link_to "編集する", edit_admin_facility_path, class: "btn btn-success" %>&emsp;&emsp;
              <%= link_to "削除する", admin_facility_path, method: :delete,
                data: {confirm:'本当に削除してよろしいですか？'}, class: "btn btn-danger"
              %>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-5 mb-3">
        <h4><%= @facility.name %>の予約一覧</h4>
      </div>
      <div class="container">
        <div class="offset-1 mb-3">
          <%= render 'admin/reservations/index', reservations: @facility_reservations %>
        </div>
      </div>
    </div>
  </div>
</div>