<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="row ml-5 mb-3">
        <h2>新規会員登録</h2>
        <div class="ml-auto mr-3 d-flex align-items-center">
          <%= render "public/shared/links" %>
        </div>
      </div>

      <div class="ml-5 mb-3">
        <%= form_for(resource, as: resource_name, url: member_registration_path) do |f| %>
          <div class="ml-5">
            <%= render "public/shared/error_messages", resource: resource %>
          </div>
          <table class="table table-borderless">
            <tbody>

              <div class="form-group">
                <tr>
                  <td style="width:35%"><%= f.label :居住地 %></td>
                  <td><%= Residence.find(params[:member][:residence_id]).name %></td>
                  <%= f.hidden_field :residence_id, :value => params[:member][:residence_id], class: 'form-control' %>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <td>プロフィール画像</td>
                  <td><%= f.file_field :profile_image %></td>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <td><%= f.label :氏名 %><span class="small text-danger">(必須)</span></td>
                  <td><%= f.text_field :name, autofocus: true, class: 'form-control' %></td>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <% if Residence.find(params[:member][:residence_id]).housing_type == Residence.housing_types.key(0) %>
                  <td><%= f.label :部屋番号 %><span class="small text-danger">(必須)</span></td>
                  <% else %>
                  <td><%= f.label :番地 %><span class="small text-danger">(必須)</span></td>
                  <% end %>
                  <td><%= f.text_field :house_address, class: 'form-control' %></td>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <td><%= f.label :メールアドレス %><span class="small text-danger">(必須)</span></td>
                  <td><%= f.email_field :email, autocomplete: "email", class: 'form-control' %></td>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <td>
                    <%= f.label :パスワード %><span class="small text-danger">(必須)</span>
                    <span class="small">
                      <% if @minimum_password_length %>
                        (半角英数字<%= @minimum_password_length %>文字以上)
                      <% end %>
                    </span>
                  </td>
                  <td><%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %></td>
                </tr>
              </div>

              <div class="form-group">
                <tr>
                  <td><%= f.label :パスワード %><span class="small">(確認用)</span><span class="small text-danger">(必須)</span></td>
                  <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %></td>
                </tr>
              </div>
            </tbody>
          </table>

          <div class="actions form-group text-center mb-3">
            <%= f.submit "登録して利用開始", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
