<table class='table table-borderless'>
  <% residence_members.each do |member| %>
    <tr>
       <% if member != current_member %>
        <% if event.event_members.where(member_id: member.id).present? %>
          <% if event.event_members.find_by(member_id: member.id).is_approved == false %>
            <td style="width:30%">
              <%= member.name %>
              <span class="text-success">招待中</span>
            </td>
            <% if event.member == current_member %>
              <td><%= link_to "招待を取り消す", event_event_member_quit_invite_path(event.id, event.event_members.find_by(member_id: member.id)), method: :delete, remote: :true, class: "btn btn-secondary" %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        <% else %>
          <td style="width:30%"><%= member.name %></td>
          <% if event.member == current_member %>
            <td>
              <%= form_with model:EventMember.new, url: event_event_members_path(event), local: false do |f| %>
                <%= f.hidden_field :event_id, :value => event.id %>
                <%= f.hidden_field :member_id, :value => member.id %>
                <%= f.submit "招待する", class: "btn btn-info" %>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>