<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>名称</th>
      <th>住所</th>
      <th>管理者名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% residences.each do |residence| %>
      <tr>
        <td><%= residence.name %></td>
        <td><%= residence.address %></td>
        <td><%= residence.admin.name %></td>
        <td>
          <%= form_with model: Member, url: new_member_registration_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :residence_id, :value => residence.id %>
            <%= f.submit "会員登録へ進む", class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>