<table class='table table-bordered'>
  <thead>
    <tr>
      <th>名称</th>
      <th>説明</th>
      <th>ジャンル</th>
      <th>メモ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% facilities.each do |facility| %>
      <tr>
        <td><%= link_to facility.name, admin_facility_path(facility) %></td>
        <td><%= facility.description %></td>
        <td><%= facility.genre.name %></td>
        <td><%= facility.note %></td>
        <td>
          <%= form_with model: Reservation, url: new_public_reservation_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :facility_id, :value => facility.id %>
            <%= f.submit "予約する", class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>