<div class='container p-5 px-sm-0'>
  <div class="col-md-6 mx-auto">
    <div class="mb-3">
      <h2>会員ログイン</h2>
    </div>
    <div class="mb-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tbody>
            <div class="form-group">
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </tr>
            </div>
            <div class="form-group">
              <tr>
                <td><%= f.label :パスワード %></td>
                <td>
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
        <div class="row">
          <div class="mx-auto">
            <div class="actions form-group mb-3">
              <%= f.submit "ログイン", class: "btn btn-info" %>&emsp;
              <%= link_to "ゲストログイン（閲覧用）",  members_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>