<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th>画像</th>
      <th>品名</th>
      <th>投稿者</th>
      <th>費用</th>
      <th>募集状況</th>
    </tr>
  </thead>
  <tbody>
    <% exchanges.each do |exchange| %>
      <tr class="index_tr" data-href="/public/exchanges/<%= exchange.id %>">
        <td>
          <% if exchange.exchange_item_images.attached? %>
            <% exchange.exchange_item_images.limit(1).each do |image| %>
              <%= image_tag image, width: '50px' %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image_obj.png', width: '50px' %>
          <% end %>
        </td>
        <td class="align-middle"><%= exchange.name %></td>
        <td class="align-middle"><%= exchange.member.name %></td>
        <% if exchange.price == 0 %>
          <td class="align-middle">無償</td>
        <% else %>
          <td class="align-middle"><%= exchange.price.to_s(:delimited) %>円</td>
        <% end %>
        <% if exchange.is_finished == false %>
          <td class="text-success align-middle">募集中</td>
        <% else %>
          <td class="text-secondary align-middle">募集終了</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>