<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>画像</th>
      <th>落とし物名</th>
      <th>投稿者</th>
      <th>説明</th>
      <th>費用</th>
      <th>掲載期限</th>
      <th>募集状況</th>
    </tr>
  </thead>
  <tbody>
    <% exchanges.each do |exchange| %>
      <tr>
        <td>
          <% if exchange.exchange_item_images.attached? %>
            <% exchange.exchange_item_images.limit(1).each do |image| %>
              <%= image_tag image, width: '100px' %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to exchange.name, public_exchange_path(exchange) %></td>
        <td><%= exchange.member.name %></td>
        <td><%= exchange.description %></td>
        <td><%= exchange.price.to_s(:delimited) %>円</td>
        <td><%= l exchange.deadline %></td>
        <% if exchange.is_finished == false %>
          <td class="text-success">募集中</td>
        <% else %>
          <td class="text-secondary">募集終了</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>