<nav class="navbar navbar-expand-md p-1", style="background-color:#4169e1">
  <div class="mx-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-light">Menu <br><i class="fa-solid fa-caret-down"></i></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-3">
        <%= link_to members_information_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-user"></i><br>
          <span class="font-weight-bold">会員</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to boards_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-circle-exclamation"></i><br>
          <span class="font-weight-bold">掲示板</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to communities_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-users"></i><br>
          <span class="font-weight-bold">コミュニティ</span>
        <% end %>
      </li>
          <li class="nav-item mr-3">
        <%= link_to events_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-icons"></i><br>
          <span class="font-weight-bold">イベント</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to exchanges_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-repeat"></i><br>
          <span class="font-weight-bold">ゆずりあい</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to reservations_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-bookmark"></i><br>
          <span class="font-weight-bold">予約</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to lost_items_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-hand-holding-droplet"></i><br>
          <span class="font-weight-bold">落とし物</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to plans_path, class: "nav-link text-light text-center" do %>
          <i class="fa-regular fa-calendar"></i><br>
          <span class="font-weight-bold">予定</span>
        <% end %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to new_member_session_path, class: "nav-link text-light text-center" do %>
          <i class="fa-solid fa-right-to-bracket"></i><br>
          <span class="font-weight-bold">ログイン</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>