<nav class="navbar navbar-expand-md">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mr-3">
      <%= link_to public_member_information_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-user"></i> マイページ
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_boards_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-circle-exclamation"></i> 掲示板
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_communities_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-users"></i> コミュニティ
      <% end %>
    </li>
        <li class="nav-item mr-3">
      <%= link_to public_events_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-icons"></i> イベント
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_exchanges_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-repeat"></i> 譲り合い
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_reservations_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-bookmark"></i> 予約
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_lost_items_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-solid fa-hand-holding-droplet"></i> 落とし物
      <% end %>
    </li>
    <li class="nav-item mr-3">
      <%= link_to public_plans_path, class: "nav-link text-white btn btn-sm btn-info" do %>
        <i class="fa-regular fa-calendar"></i> 予定
      <% end %>
    </li>
    <% if member_signed_in? %>
      <li class="nav-item mr-3">
        <%= link_to destroy_member_session_path, method: :delete, class: "nav-link text-white btn btn-sm btn-info" do %>
          <i class="fa-solid fa-right-from-bracket"></i> ログアウト
        <% end %>
      </li>
    <% else %>
      <li class="nav-item mr-3">
        <%= link_to new_member_session_path, class: "nav-link text-white btn btn-sm btn-info" do %>
          <i class="fa-solid fa-right-to-bracket"></i> ログイン
        <% end %>
      </li>
    <% end %>
    <li class="nav-item mr-3">
      <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link text-white btn btn-sm btn-secondary" %>
    </li>
  </ul>
</nav>