<!DOCTYPE html>
<html>
  <head>
    <title>SumuCommu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/02d3b10da1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="logo">
            <%= link_to root_path, class: "lead" do %>
              <%= image_tag 'sumu-commu_logo_black.png', :style => "max-height:100px" %>
            <% end %>
          </div>

          <div class="ml-auto mr-5">
            <% if not admin_signed_in? %>
              <div class="mb-3">
                <%= link_to ">>管理者の方はこちら", new_admin_session_path, class: "text-dark" %>
              </div>
            <% end %>
            <div class="row float-right">
              <% if member_signed_in? %>
                <div class="d-flex align-items-center mr-4">
                  <%= link_to public_member_information_path do %>
                    <%= image_tag current_member.get_profile_image, width: '50px', height: '50px', class: "profile_image" %>
                  <% end %>
                </div>
                <div class="d-flex align-items-center mr-3">
                  <%= link_to public_search_path, class: "text-dark text-center" do %>
                    <i class="fa-solid fa-magnifying-glass"></i><br>
                    <span class="font-weight-bold">検索</span>
                  <% end %>
                </div>
              <% end %>
              <% if admin_signed_in? %>
                <div class="d-flex align-items-center ml-3">
                  <%= link_to admin_search_path, class: "text-dark text-center" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="font-weight-bold">検索</span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <div class="mx-auto header_nav">
          <% if admin_signed_in? %>
            <%= render 'layouts/admin_header' %>
          <% else %>
            <%= render 'layouts/member_header' %>
          <% end %>
        </div>
    </header>

    <main>
      <div class="col-md-6 mx-auto mt-3">
        <div class="text-center text-success font-weight-bold">
          <%= flash[:notice] %>
        </div>
        <div class="text-center text-danger font-weight-bold">
          <%= flash[:alert] %>
        </div>
      </div>
      <%= yield %>
    </main>

    <% if admin_signed_in? %>
      <footer class="text-center text-light mt-auto", style="background-color:#696969">
        <div class="m-3">
          <p>CopyRight すむこみゅ<SUMU-COMMU></p>
        </div>
      </footer>
    <% else %>
      <footer class="text-center text-light mt-auto", style="background-color:#4169e1">
        <div class="m-3">
          <p>CopyRight すむこみゅ<SUMU-COMMU></p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
